body {
	margin-top: 10px;
}
.container {
	width: 70%;
}
.il-logo {
	padding-left: 0px;
}
.il-logo-md {
	width: 200px;
	height: auto;
}
.il-header {
	padding-right: 0px;
}

/*Tab section*/
#page_menu {
	width:100%;
	margin:0;
	padding:8px;
	text-align:left;
	z-index:100;
	clear:both;
}

#page_menu ul {
	padding:0;
	list-style:none;
	color:#FFFFFF;
	font-weight:bold;
	position:relative;
	left:0%;
	z-index:100;
	width:80%;

}
#page_menu ul li {
	float:left;
	margin:0;
	padding:0;
	display:inline;
	/*Separate between tab */
	margin-left:2px;
}
#page_menu a {
	float:left;
	padding:0 0 0 11px;
	color:#FFFFFF;
	text-decoration:none;
}

.il-header-right-top {
	padding-right: 0px;
	text-align: right;
}

.il-header-right-banner {
	padding-top: 1%;
	padding-right: 0px;
	width: 100%;
}

#page_menu .selected a
{
	background-position:0 -31px;

}
#page_menu a:hover span, #page_menu li:hover span, #page_menu .selected span {
	background-position:100% -31px;
}
/*End Tab section*/

/*Class reponsive*/

@media screen and (max-width: 1024px){
	.il-logo-md {
		width: 160px;
	}
	.container {
		width: 80%;
	}

}

@media screen and (max-width: 768px){
    .il-logo-md {
		width: 150px;
	}
	body {
		font-size: 13px;
	}
	.container {
		width: 80%;
	}
}

@media screen and (max-width: 680px){
    .il-logo-md {
		width: 110px;
	}
	body {
		font-size: 12px;
	}
	.container {
		width: 80%;
	}
	.slide {
		width: 100%;
	}
}

@media screen and (max-width: 480px){
    .il-logo-md {
		width: 90px;
	}
	body {
		font-size: 9px;
	}
	.container {
		width: 90%;
	}
	.slide {
		width: 100%;
	}
}

#footer_menu a
{
	color:#666;
	font-weight:normal;
}

@media screen and (max-width: 320px){
    .il-logo-md {
		width: 70px;
	}
	body {
		font-size: 7px;
	}
	.container {
		width: 95%;
	}
	.slide {
		width: 100%;
	}
}
